/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.heatmap-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.heatmap-cell {
	font-size: 0.9em;
	min-width: 120px;
	text-align: center;
}

.yaml-field-toggle {
	margin-top: 1em;
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	padding: 0.5em;
  }

.yaml-field-toggle summary {
	cursor: pointer;
	font-size: 1em;
  }
  
.checkbox-row {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.role-fields-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 1em;
}

.role-field-row {
	display: grid;
	grid-template-columns: 40px 120px 60px 60px 60px 100px;
	align-items: center;
	gap: 6px;
	min-height: 36px;
}

.role-field-label {
	font-weight: 500;
}

.role-field-row label {
	display: flex;
	align-items: center;
	gap: 4px;
	white-space: nowrap;
}

.role-field-row input[type="text"] {
	width: 80px;
}

.color-chart-picker {
	margin-left: 8px;
	margin-right: 0.5em;
}

.chart-summary-header {
	font-weight: bold;
	margin-bottom: 1em;
}

.alpha-range-slider {
	width: 100px;
	vertical-align: middle;
}

.inline-color-picker {
	margin-left: 8px;
	vertical-align: middle;
}

.property-color-picker {
	margin-left: 8px;
	vertical-align: middle;
}

.chart-margin-row {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 6px;
}

.chart-margin-label {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.chart-margin-input {
	width: 60px;
}

.colorscale-control-group {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	width: 100%;
	justify-content: right;
}

.colorscale-dropdown {
	/*appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 4px;
	padding: 2px 8px;
	box-sizing: border-box;*/
	min-width: 60px !important;
	max-width: 100px !important;
}

.colorscale-toggle-container {
	display: flex;
	align-items: center;
	gap: 4px;
}

.colorscale-toggle-label {
	font-size: var(--font-ui-small);
	font-weight: 500;
}

.colorscale-preview-bar {
	flex: 1;
	height: 26px;
	max-width: 180px;
	min-width: 80px;
	border-radius: 4px;
	border: 1px solid var(--background-modifier-border);
	box-shadow: inset 0 0 3px var(--color-base-40);
}